<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>LOGIN PAGE</h1>
<form action="/login" method="post">
    USERNAME : <input name="username" /> <br/>
    PASSWORD : <input name="password" type="password" /> <br/>
    <div>
        <div>
            <input type="checkbox" name="remember-me"  id="rememberME" />
            <label  for="rememberME" >로그인 상태를 유지</label>
        </div>
    </div>
    <input type="submit" />
    <div th:text="${param.error}"></div>
</form>
<a href="/join">회원가입</a> <br/>

</body>
</html>