<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/ownerMain"><img src="/images/hamorestLogo.jpg" width="80" height="100%"></a>

<form name="hotelAdd" action="/hotelAdd" method="post">
    <h1>숙소 등록</h1>

    <span>숙소를 등록하기 위한 정보를 입력해주세요.</span>
    <input type="hidden" name="permit" value="N">
    <div>
        <div>숙소 명</div>
        <input type="text" name="ownerId" value="사업자아이디">
    </div>

    <div>
        <div>숙소 명</div>
        <input type="text" name="hotelName" >
    </div>

    <div>
        <div>숙소 주소</div>
        <input type="text" name="hotelAddr" >
    </div>

    <div>
        <div>숙소를 소개해주세요.</div>
        <input type="text" name="hotelInfo" >
    </div>

    <button type="submit">등록</button>
</form>
</body>
</html>